.contact {
    grid-column: main-start/main-end;
    padding    : 6vw 0;

    &__container {
        display                 : grid;
        grid-template-columns   : minmax(min-content, 30rem) minmax(min-content, 32rem);
        grid-template-rows      : minmax(min-content);
        margin-top              : 4vw;
        gap                     : 2rem;
        justify-content         : center;

        @media only screen and(max-width:$bp-small) {
            grid-template-columns: repeat(1, minmax(1rem, 1fr));
        }
    }

    &__icon {
        height: 2rem;
        width : 2rem;
    }

    &__information {
        &-list {
            display        : flex;
            flex-direction : column;
            gap            : 1rem;
            justify-content: flex-start;

        }

        &-item {
            display        : flex;
            align-items    : center;
            justify-content: flex-start;
            gap            : 1rem;

            & span {
                font-size: 1.2rem;
            }
        }
    }
}

.form {
    display              : grid;
    gap                  : 1vw;
    grid-template-columns: repeat(2, 1fr);

    @media only screen and(max-width:$bp-small) {
        grid-template-columns: repeat(1, minmax(1rem, 1fr));
    }

    &__name {}

    &__email {}

    &__message {
        grid-column: 1/-1;

        @media only screen and(max-width:$bp-small) {
            grid-column: 1/-1;
        }
    }

    &__group {
        padding: .8rem;
        outline: none;
        border : 1px solid $color-tertiary;

        &:focus {
            border-bottom: 2px solid $color-primary;

            &:invalid {
                border-bottom: 2px solid $color-secondary;
            }
        }
    }

    &__btn {
        justify-self: end;
        grid-column : 2/-1;
        margin-top  : 1vw;

        @media only screen and(max-width:$bp-small) {
            grid-column: 1/-1;
        }
    }
}