.header {
    background-color: $color-primary;
    grid-column     : full-start/full-end;
    display         : flex;
    height          : $header-top-height;
    justify-content : space-between;
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100%;
    font-size       : 1.4rem;

    &__navbar-mini-radio {
        display: none;
    }

    &__navbar-mini-radio:checked+&__navbar-mini {
        display: block;
    }

    &__navbar-mini {
        position        : absolute;
        top             : 0;
        left            : 0;
        width           : 100%;
        margin-top      : $header-top-height;
        background-color: $color-primary;
        display         : none;

        &-item {
            list-style: none;
            @include header-item-padding;
            color: $color-white;

            &:hover {
                background-color: $color-tertiary;
                color           : $color-primary
            }

            &:active {
                background-color: $color-primary;
                color           : $color-white;
            }
        }

        &-link {
            @extend .header-link-style;
        }
    }

    &__nav {
        display        : flex;
        align-items    : center;
        justify-content: space-between;

        @media only screen and(max-width:$bp-small) {
            &> :not(:first-child) {
                display: none;
            }
        }

        &-item {
            list-style: none;
            @include header-item-padding;
            height     : 100%;
            display    : flex;
            align-items: center;
            position   : relative;
            flex       : 1;
            color      : $color-white;

            &:hover {
                background-color: $color-tertiary;
                color           : $color-primary;
            }

            &:active {
                background-color: $color-primary;
            }
        }

        &-item:hover &-icon {
            fill: $color-primary;
        }

        &-item:active &-icon {
            fill: $color-tertiary;
        }

        &-link {
            @extend .header-link-style;
            display: flex;

        }

        &-icon {
            height : 2.1rem;
            width  : 2.1rem;
            display: inline-block;
            fill   : $color-white;
        }

    }

    &__nav-item:hover &__sub-nav {
        display: block;
    }

    &__sub-nav {
        position        : absolute;
        top             : 100%;
        left            : 0;
        width           : 120%;
        background-color: $color-white;
        box-shadow      : 0 0 2rem rgba($color-primary, .2);
        display         : none;

        &-item {
            list-style: none;
            padding   : .5rem 1.5rem;

            &:hover {
                background-color: $color-tertiary;
            }

            &:active {
                background-color: $color-white;
            }
        }

        &-link {
            color          : $color-primary;
            text-decoration: none;
            text-transform : capitalize;
            letter-spacing : 1.5px;
            font-weight    : 400;
            font-size      : 1.3rem;
        }

    }

    &__icon {
        height : 100%;
        display: flex;
        width  : 6rem;

        border          : none;
        background-color: $color-primary;
        position        : relative;
        z-index         : 1;
        position        : relative;


        &-search {
            height      : 100%;
            width       : 100%;
            fill        : $color-white;
            padding     : 0 2rem;
            margin-right: 2rem;
            position    : absolute;
            top         : 0;
            left        : 0;

            @media only screen and (max-width: $bp-small) {
                display: none;
            }

            &:hover {
                background-color: $color-secondary;
            }

            &:active {
                background-color: $color-primary;
            }
        }

        &-menu {
            height  : 100%;
            width   : 100%;
            fill    : $color-white;
            position: absolute;
            top     : 0;
            left    : 0;
            padding : 1rem;
            display : none;

            @media only screen and (max-width: $bp-small) {
                display: block;
            }

            &:hover {
                background-color: $color-white;
                fill            : $color-primary;
            }

            &:active {
                background-color: $color-primary;
            }

        }
    }
}