$color-primary  :#000;
$color-secondary:#f44336;
$color-tertiary :#ccc;
$color-white    :#fff;
$color-fourth   :#757575;


/* responsive */

$bp-medium:56.25em; //900px
$bp-small :37.5em; //600px