$color-primary  :#000;
$color-secondary:#f44336;
$color-tertiary :#ccc;
$color-white    :#fff;
$color-fourth   :#757575;
$color-fifth:#009688;


/* responsive */

$bp-medium:56.25em; //900px
$bp-small :43.75em; //600px



.header-link-style {
    text-decoration   : none;
    color             : currentColor;
    text-transform    : uppercase;
    font-weight       : 400;
    font-size         : 1.4rem;
    letter-spacing    : 1px;
}

$header-top-height:4.5rem;