.about {
    grid-column: main-start/main-end;
    grid-row   : 3/4;
    margin     : 6vw 0;

    &__heading {}

    &__sub-heading {}

    &__text {
        margin    : 1.5rem 0;
        font-size : 1.5rem;
        text-align: justify;
    }
}

.members {
    padding              : 3.2rem 3rem;
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap                  : 4vw;
    // @media only screen and (max-width:$bp-small) {
    //     display       : flex;
    //     flex-direction: column;
    // }
}

.member {
    display       : flex;
    flex-direction: column;

    &__name {
        font-size     : 1.5rem;
        text-transform: capitalize;
        text-align    : center;
        display       : block;
        margin        : 1.5rem 0;
    }

    &__img {
        width        : 100%;
        height       : 100%;
        border-radius: 4px;
        overflow     : hidden;
        object-fit   : cover;
    }
}